body {
  background-color: rgb(164, 221, 221);
  background: url("https://i.ibb.co/6nxjHdC/12343124-removebg-preview.png"), linear-gradient(3deg, rgb(181 181 211) 0%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-size: contain;
  background-position: right;
  background-repeat: repeat-y;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #aaa;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 11px;
    padding: 50px;
    margin: 20px;
  }

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 200px;
}

.login__header h1 {
  color: #333;
  font-size: 1.5em;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #ee665c;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
